{% extends 'bbase.html' %}

{% block body %}
<div class="card mb-2">
    <div class="card-body">
        <h2 class="card-header">{{ posted_count }}</h2>
        <p class="text-content3">Total projects posted by you so far.</p>
        <div>
            <a class="btn btn-secondary" href="/new-project">Add Another Project</a>
        </div>
    </div>
</div>
<div class="card mb-2">
    <div class="card-body">
        <h2 class="card-header">{{ application_count }}</h2>
        <p class="text-content3">Total applications received.</p>
    </div>
</div>
{% endblock body %}