<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .vertical {
      border-left: 6px solid rgb(255, 255, 255);
      height: 610px;
      position:absolute;
      left: 50%;
    }
    body {
        background-color: #000000;

}
        </style>
    <title>Welcome</title>

</head>
<body>
    <p><h1 style="color: white"><center>ALFRED | IT Consultant and Business Synergy Application</center></h1></p>
<td><a class="btn btn-outline-primary btn-lg p-4" style="position: absolute; top:320px; right:300px;" href="http://{{ip_address}}:{{ports[0]}}/logout">Continue as IT Consultant</a></td>
<td><a class="btn btn-outline-primary btn-lg p-4" style="position: absolute; top:320px; left:300px;" href="http://{{ip_address}}:{{ports[1]}}/logout">Continue as Business</a></td>
<div class="vertical"></div>   
</body>
</html>